<!doctype html>
<html lang="en" id="home">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="../src/vendor/lightbox/dist/ekko-lightbox.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="../src/css/main.css">
    <link rel="stylesheet" href="../node_modules/@fortawesome/fontawesome-free/css/all.css">

    <title>Portofolio</title>
</head>

<body style="margin-top: 30px;">

    <!-- navbar -->
    <nav class="navbar navbar-expand-lg shadow fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand nav-link js-scroll-trigger" href="#home">Timotius Imanuel</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-haspopup="true" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse navbar justify-content-end" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
    </nav>
    <!-- akhir navbar -->

    <!-- Header -->
    <div class="jumbotron jumbotron-fluid text-center" style="background-color: white;">
        <img src="../src/img/profile.jpg" width="200" class="border border-dark rounded-circle ">
        <h1>Timotius Imanuel</h1>
        <p>College Student | Web Developer | Gamer | Youtuber</p>
    </div>
    <!-- Akhir Header -->


    <!-- about -->
    <section class="about" id="about">
        <div class="container " style="min-height: 300px; max-height: 300px; ">
            <div class="row ">
                <div class="col-md-12 text-center ">
                    <h2>About</h2>
                    <hr style="height:1px;width:20%;border:none;color:#333;background-color:#333; ">
                </div>
            </div>

            <div class="row ">
                <div class="col-sm-6 offset-1 ">
                    <p>Seorang mahasiswa Universitas Gunadarma yang lahir pada tanggal 20 Januari 1998, dengan hobi bermain game dan juga bongkar pasang perangkat. Alumni SD Gedong 07 pagi, SMPN 1 Manado, dan SMAN 7 Manado.
                    </p>
                </div>

                <div class="col-sm-5 ">
                    <p>Dengan ketekunan, senang belajar pengalaman menarik, dan terbiasa dalam E-sport maupun internet menjadi pegangan dalam menggapai impian tersebut.</p>
                </div>
            </div>
        </div>

    </section>
    <!-- akhir about -->



    <!-- portfolio -->
    <section class="portfolio" id="portfolio" style="background-color: white;">
        <div class=" container " style="min-height: 600px; ">
            <div class="row ">
                <div class="col-sm-12 text-center ">
                    <h2>Portfolio</h2>
                    <hr style="height:1px;width:30%;border:none;color:#333;background-color:#333; ">
                </div>
            </div>

            <div class="row ">
                <div class="col-sm-4 ">
                    <a href="https://gitlab.com/itsumoti ">
                        <img src="../src/img/Portfolio/1.jpg " class="img-thumbnail mx-auto d-block ">
                    </a>
                </div>

                <div class="col-sm-4 ">
                    <a href="https://www.youtube.com/channel/UC6_hJmoaGN8Wdb1UYhEWbwQ ">
                        <img src="../src/img/Portfolio/2.jpg " class="img-thumbnail mx-auto d-block ">
                    </a>
                </div>

                <div class="col-sm-4 ">
                    <a href="https://www.twitch.tv/itsumoti ">
                        <img src="../src/img/Portfolio/3.jpg " class="img-thumbnail mx-auto d-block ">
                    </a>
                </div>

                <div class="col-sm-4 ">
                    <a href="https://umikol.blogspot.com/ ">
                        <img src="../src/img/Portfolio/4.jpg " class="img-thumbnail mx-auto d-block ">
                    </a>
                </div>

                <div class="col-sm-4 ">
                    <a href="https://steamcommunity.com/id/Dakepoi ">
                        <img src="../src/img/Portfolio/5.jpg " class="img-thumbnail mx-auto d-block ">
                    </a>
                </div>

                <div class="col-sm-4 ">
                    <a href="https://web.facebook.com/shiniji.rentouka ">
                        <img src="../src/img/Portfolio/6.jpg " class="img-thumbnail mx-auto d-block ">
                    </a>
                </div>
            </div>

        </div>
        </div>
    </section>
    <!-- akhir portfolio -->

    <!-- contact -->
    <section class="contact" id="contact">
        <div class="container" style="min-height: 800px; max-height: 100px; ">
            <div class="row ">
                <div class="col-sm-12 text-center ">
                    <h2>Contact</h2>
                    <hr style="height:1px;width:30%;border:none;color:#333;background-color:#333; ">
                </div>
            </div>
            <div class="row ">
                <div class="col-sm-8 offset-sm-2 ">
                    <form>
                        <div class="form-group ">
                            <label for="nama ">Nama</label>
                            <input type="text " id="nama " class="form-control " placeholder="masukan nama ">
                        </div>
                        <div class="form-group ">
                            <label for="email ">Email</label>
                            <input type="email " id="email " class="form-control " placeholder="masukan email ">
                        </div>
                        <div class="form-group ">
                            <label for="telp ">No. Telepon</label>
                            <input type="tel " id="telp " class="form-control " placeholder="masukan no telepon ">
                        </div>
                        <select class="form-control ">
                            <option>-- Pilih Kategori --</option>
                            <option>Web Design</option>
                            <option>Web Development</option>
                        </select>
                        <div class="form-group ">
                            <label for="pesan ">Pesan</label>
                            <textarea class="form-control " rows="10 " placeholder="masukan pesan "></textarea>
                        </div>
                        <button type="submit " class="btn btn-primary ">Kirim Pesan</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- akhir contact -->


    <!-- footer -->
    <footer id="sticky-footer " class=" py-2 " style="height: 120px; ">
        <div class="container text-center " style="margin-top: 20px; ">
            <small>Copyright 2019 &copy; built by. <a style="color:whitesmoke "href="http://instagram.com/itsugaming ">Timotius Imanuel</a></small>
        </div>
        <div class="container text-center ">
            <a href="https://www.youtube.com/channel/UC6_hJmoaGN8Wdb1UYhEWbwQ " class="btn btn-danger "><i class="fab fa-youtube "></i> Subscribe to Youtube</a>
        </div>
    </footer>
    <!-- akhir footer -->


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../js/jquery-3.4.1.min.js "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js " integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1 " crossorigin="anonymous "></script>
    <script src="../src/js/bootstrap.min.js "></script>

    <!-- Plugin JS -->
    <script src="../src/vendor/jquery-easing/jquery.easing.min.js "></script>
    <script src="../src/vendor/lightbox/dist/ekko-lightbox.js"></script>

    <!-- Custom JS for Scrolling when Clicked -->
    <script src="../src/js/scrolling-nav.js "></script>
    <script src="../src/js/lightbox.js "></script>

    <!-- Other Script like icons -->
    <script src="https://kit.fontawesome.com/080f44c93e.js " crossorigin="anonymous "></script>
</body>

</html>
